* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
}

body,
input,
button {
    font-family: "Lato", sans-serif;
    font-size: 1.2rem;
}

#root {
    display: flex;
    justify-content: center;
    padding-top: 2em;
    height: 100vh;
    cursor: default;
    background-image: linear-gradient(to bottom, #009688 0px 5em, #d7dbd6 0px 100%);
}
