.Main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    .header {
        background-color: #eaeaea;
        display: flex;
        align-items: center;
        > * {
            padding: 0.2em 0.4em;
        }
        .user {
            display: flex;
            align-items: center;
            flex-grow: 1;
            > * {
                margin: 0 0.2em;
            }
            .avatar {
                flex-shrink: 0;
                width: 2.5em;
                height: 2.5em;
                overflow: hidden;
                border-radius: 100%;
                margin: 0.25em;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }
        }
        .content {
            flex-grow: 1;
            .name {
                font-size: 0.8em;
                white-space: nowrap;
            }
            .last-see {
                font-size: 0.6em;
                opacity: 0.6;
                white-space: nowrap;
            }
        }
        .actions {
            display: flex;
            justify-content: flex-end;
            > * {
                margin: 0 0.4em;
                cursor: pointer;
                color: #b1b1b1;
            }
        }
    }
    .chat {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow-y: auto;
        overflow-x: hidden;
        background-image: url("../images/mine.jpg");
        background-attachment: fixed;
        background-repeat: repeat;
        background-position: center;
        .push {
            position: relative;
            display: flex;
            flex-direction: column;
            margin: 0.5em 1em;
            border-radius: 0.5em;
            animation-duration: 0.3s;
            animation-timing-function: linear;
            animation-fill-mode: forwards;
            &.received {
                align-self: flex-start;
                background-color: #fff;
                animation-name: inFromLeft;
            }
            &.sent {
                align-self: flex-end;
                background-color: #d5f9ba;
                animation-name: inFromRight;
            }
            > * {
                margin: 0.5em 1em;
            }
            .text {
                font-size: 0.7em;
            }
            audio {
                border-radius: 2em;
            }
            .at {
                align-self: flex-end;
                font-size: 0.6em;
                opacity: 0.4;
                margin-left: 10em;
                &.seen {
                    color: #328de7;
                    opacity: 1;
                }
            }
        }
    }
}
